* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ใช้จัดการหน้าเว็บโดยรวม */
.container{
    /* ต้องใช้ max-width เนื่องจากต้องกำหนดขนาดสูงสุดไว้ทำ Responsive ต่อ */
    max-width: 960px;
    width: 100%;
    margin: 0px auto;
}

.hamburger {
    /* เป็น none เพื่อไม่ให้แสดงในหน้าปกติ แล้วค่อยไปเปลี่ยนที่ mobile เป็น inline-block */
    display: none;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  } */

  .open{
    height: auto !important;
  }

/* -------------------------- Header --------------------------*/
header{
    width: 100%;
    height: 120px;
    background-color: black;
    border-top: 5px solid #40aed7;
}

/* แบ่ง column */
.nav-grid{
    display: grid;
    /* 225px คือ fix ขนาดของช่องแรก 225px */
    grid-template-columns: 225px 1fr;
}

/* -------- logo ---------*/
.logo{
    color: white;
    margin-top: 40px;
}

.logo h1{
    font-size: 28px;
    /* ตัวใหญ่ */
    text-transform: uppercase;
}

.logo span{
    font-size: 12px;
}

/* -------- menu -------- */
.menu {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-top: 7%;
    justify-items: center;
}

.menu li {
    /* เอาจุดออก */
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    /* ตั้งเวลาที่จะเปลี่ยน */
    transition: .3s ease-in-out;
    padding: 5px 10px;
}

/* เปลี่ยนพื้นหลัง menu */
.menu li a:hover{
    background-color: #40aed7;
    padding: 5px 10px;
    border-radius: 5px;
}


/* --------------------------  Content --------------------------*/

.content{
    width: 100%;
    height: auto;
    background-color: #fff;
}

/*  content Heading */
.content-heading{
    font-size: 80px;
    color: #333;
}

/* content Service */

.content-services {
    width: 100%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 50px;

}

.content-services-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    gap: 1rem;
    

}

/* content service custom*/

/*  background */
.content-services-item {
    padding: 20px;
    border: 1px solid #e4e4e4;
    /* time */
    transition: .3s ease-in-out;
    cursor: pointer;
}

/* text */
.content-services-item h2 {
    font-size: 32px;
    text-transform: uppercase;
    color: #333;
    margin: 20px 0;
}

.content-services-item p {
    font-size: 12px;
    color: #979797;
}


/*  icon */

.fa-sitemap{
    font-size: 5rem;
    color: #333;
}

.fa-cookie-bite{
    font-size: 5rem;
    color: #333;
}

.fa-satellite{
    font-size: 5rem;
    color: #333;
}

.fa-synagogue{
    font-size: 5rem;
    color: #333;
}


/* hover */

.content-services-item:hover{
    border: 1px solid #40aed7;
    background-color: #40aed7;
    padding: 20px;
    color: #fff;
}


.content-services-item:hover h2 {
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    margin: 20px 0;
}

.content-services-item:hover p {
    font-size: 12px;
    color: #fff;
}

.content-services-item:hover .fa-sitemap {
    font-size: 5rem;
    color: #fff;
}

.content-services-item:hover .fa-cookie-bite{
    font-size: 5rem;
    color: #fff;
}

.content-services-item:hover .fa-satellite{
    font-size: 5rem;
    color: #fff;
}

.content-services-item:hover .fa-synagogue{
    font-size: 5rem;
    color: #fff;
}

/* content meet */

.content-meet{
    text-align: center;
    font-size: 80px;
    color: #d3d3d3;
}

/* Content Teams */

.content-teams{
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


.content-teams-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    text-align: center;
}

/* ใช้ไว้ปรับขนาดตามหน้าจอ */
.content-teams-item img {
    width: 100%;
}

.content-teams-item h2{
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #e4e4e4;
    padding: 20px 0;
}
.content-teams-item p{
    font-size: 12px;
    color: #979797;
    text-align: left;
}
.content-teams-item a{
    text-decoration: none;
    font-size: 14px;
    color: #40aed7;

}

/* เนื่องจาก a เป็น inline ต้องกำหนดให้เป็น inline-box/block */
.cr {
    text-align: right;
}

/*  ---------- Footer ---------- */

footer{
    width: 100%;
    height: 390px;
    background-color: #303030;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 30px 0;
    gap: 20px;
}


.footer-item-1 h3{
    color: #fff;
    font-size: 16px;
}
.footer-item-1 h4{
    font-size: 13px;
    color: #979797;
    margin-top: 30px;
}

.footer-item-1 span.admin a{
    color: #40aed7;
    font-size: 10px;
    text-decoration: none;

}
.footer-item-1 span.admin{
    color: #666;
    font-size: 10px;
    display: inline-block;
    margin: 5px 0;
}

.footer-item-1 span.date{
    display: inline-block;
    margin: 5px 0;
    font-size: 10px;
    color: #979797;

}

.footer-item-1 p{
    margin: 10px 0;
    font-size: 12px;
    color: #979797;
}

.footer-item-1 a{
    font-size: 12px;
    color: #40aed7;
    text-decoration: none;


}

.footer-item-2 h3 {
    padding-bottom: 30px;
    color: #fff;
    font-size: 16px;
}

.footer-item-2 li {
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid #979797;
}

.footer-item-2 li a{
    text-decoration: none;
    color: #40aed7;
    padding-bottom: 5px;
}

.footer-item-3 h3 {
    padding-bottom: 30px;
    color: #fff;
    font-size: 16px;
}

.footer-item-3 a{
    text-decoration: none;
    color: #40aed7;
    padding-bottom: 5px;
}

.footer-item-3 p{
    color: #979797;
    padding-bottom: 5px;
}

.footer-item-4 h3 {
    padding-bottom: 30px;
    color: #fff;
    font-size: 16px;
}

.footer-item-4 input {
    width: 225px;
    height: 35px;
    background-color: #222;
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 10px;
}

.footer-item-4 textarea{
    width: 225px;
    height: 50px;
    border: none;
    outline: none;
    margin-top: 10px;
    background-color: #222;
    padding: 10px;
}

.footer-item-4 input[type=submit]{
    background-color: #40aed7;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
}


.copyright{
    width: 100%;
    height: 60px;
    background-color: #2b2b2b;
}

.copyright-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 60px;
    color: #979797;
}

.copyText{
    justify-self: flex-start;
    align-self: center;
}

.credits{
    justify-self: flex-end;
    align-self: center;
}


@media only screen and (max-width:800px) {
    header{
        height: auto;
    }
    .nav-grid{
        grid-template-columns: 1fr;
    }

    .menu{
        grid-template-columns: 1fr;
    }

    .menu li {
        height: 2.5rem;
    }
    
    .content-heading {
        font-size: 60px;
        margin-top: 20px;
        padding: 0 20px;
    }  
    
    .content-services-grid{
        margin-top: -20px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
        padding: 0 20px;
    }

    .content-meet{
        font-size: 50px;
    }
    

    .content-teams-grid{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 0 20px;
    }
    footer{
        height: auto;
        
    }

    .footer-grid{
        grid-template-columns: 1fr 1fr;
        margin: 0 20px;

    }
    
    .footer-item-3{
        width: 400px;
    }

    .footer-item-3 p{
        display: inline-block;
        margin-bottom: 20px;
    }

    .footer-item-4 input,textarea {
        display: grid;
        grid-template-columns: 1fr;
        

    }

    .copyright{
        height: auto;

    }
    .copyright-grid{
        grid-template-columns: 1fr;
        padding: 1rem 0;

    }

    .copyText{
        justify-self: center;
    }

    .credits{
        justify-self: center;
    }   
    
}


@media only screen and (max-width:768px){
    header{
        height: auto;
    }
    .nav-grid{
        grid-template-columns: 1fr;
    }

    .menu{
        grid-template-columns: 1fr;
    }

    .menu li {
        height: 2.5rem;
    }
    
    .content-heading {
        font-size: 60px;
        margin-top: 20px;
        padding: 0 20px;
    }  
    
    .content-services-grid{
        margin-top: -20px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
        padding: 0 20px;
    }

    .content-meet{
        font-size: 50px;
    }
    

    .content-teams-grid{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 0 20px;
    }
    footer{
        height: auto;
        
    }

    .footer-grid{
        grid-template-columns: 1fr 1fr;
        margin: 0 20px;

    }
    
    .footer-item-3{
        width: 400px;
    }

    .footer-item-3 p{
        display: inline-block;
        margin-bottom: 20px;
    }

    .footer-item-4 input,textarea {
        display: grid;
        grid-template-columns: 1fr;
        

    }

    .copyright{
        height: auto;

    }
    .copyright-grid{
        grid-template-columns: 1fr;
        padding: 1rem 0;

    }

    .copyText{
        justify-self: center;
    }

    .credits{
        justify-self: center;
    }
}



@media only screen and (max-width: 480px) {

    /* ปรับความสูง header แบบไม่ fix */

    .hamburger {
        display: inline-block;
        cursor: pointer;
        margin: 1rem;
      }

    /* เขียนตอนทำ hamberger */
    .logo {
        text-align: center;
        margin-top: 0;
    }
  
      
    header{
        height: auto;
    }

    /* .nav-grid{
        grid-template-columns: 1fr;
    } */

    /* ตอนทำ hamburger กำหนดความสูง 0 เพื่อไม่ให้แสดงข้อความตรง nav */
    .nav-grid{
        grid-template-columns: 1fr;
        height: 0;
    }

    .menu{
        grid-template-columns: 1fr;
    }

    .menu li {
        height: 2.5rem;
    }
    
    .content-heading {
        font-size: 30px;
        margin-top: 20px;
        padding: 0 20px;
    }

    .content-services-grid{
        margin-top: -20px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) ;
        padding: 0 20px;
    }
    .content-meet{
        font-size: 30px;
    }

    .content-teams-grid{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        margin: 0 20px;
    }

    footer{
        height: auto;
        
    }

    .footer-grid{
        grid-template-columns: 1fr;
        margin: 0 20px;

    }
    
    .footer-item-3{
        width: 400px;
    }

    .footer-item-3 p{
        display: inline-block;
        margin-bottom: 20px;
    }

    .footer-item-4 input,textarea {
        display: grid;
        

    }

    .copyright{
        height: auto;

    }
    .copyright-grid{
        grid-template-columns: 1fr;
        padding: 1rem 0;

    }

    .copyText{
        justify-self: center;
    }

    .credits{
        justify-self: center;
    }

}